<launch>

<node pkg="agbot" type="tforge.py" name="imu_node" output="log" respawn="true"/>

<node pkg="reach_ros_node" type="nmea_tcp_driver" name="reach_ros_node" output="log" respawn="true">
<param name= "host" value= "192.168.1.128"/>
<param name= "port" value= "9000"/>
</node>

<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" clear_params="true">
    <!-- param name="magnetic_declination_radians" value="0.0698132" -->
    <param name="magnetic_declination_radians" value="0.1599"/>
    <param name="yaw_offset" value="1.5708" />
    <param name="zero_altitude" value="true"/>

    <param name="delay" value="5"/>

    <param name="use_odometry_yaw" value="false"/>
    <param name="wait_for_datum" value="false"/>
   
    <param name="publish_filtered_gps" value="true"/>
    <param name="broadcast_utm_transform" value="true"/>
    <param name="frequency" value="30"/>
    
    <remap from="/imu/data" to="/imu" />
    <remap from="/gps/fix" to="/tcpfix" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />

    <!-- rosparam param="datum">[30.124196, -97.43001, 0.0, map, base_link] -->
</node>

    <!-- Run the ekf for odom to base_link config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps">
    <rosparam command="load" file="$(find agbot)/params/robot_localization_with_gps.yaml" />
  </node>

    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps_map">
    <rosparam command="load" file="$(find agbot)/params/robot_localization_with_gps_map.yaml" />
  </node>




<!--  Transforms
These are the measurements in meters for your sensors (x y z yaw pitch roll) x forward y left z up
-->
        <node pkg="tf" type="static_transform_publisher"
                name="footprint_transform"
                args="0 0 -0.1 0 0 0 base_link footprint 10" />
        <node pkg="tf" type="static_transform_publisher"
                name="gps_transform"
                args="0 0 0.8128 0 0 0 base_link gps 10" />
        <node pkg="tf" type="static_transform_publisher"
                name="imu_transform"
                args="1.5 0 a.250 2.08 0 0 base_link base_imu_link 10" />

</launch>
